.complete-container {
  height: 100vh; 
  max-height: -webkit-fill-available; 

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.year-complete {
  font-size: 1.5em;
}
